html {
  font-size: 8px;
}

/* theme.breakpoint.desktop.media */
@media screen and (min-width: 1280px) {
  html {
    font-size: 10px;
  }
}

body {
  background-color: #f6f6f6; /* theme.color.white.dark */
  font-family: "Roboto";
  margin: 0;
}
